@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------shared styles starts here---- */
.container {
  width: 80%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.btn-primary {
  border-radius: 48px;

  /* Linear */
  background: linear-gradient(
    90deg,
    rgb(255, 66, 165) 13.134%,
    rgb(255, 66, 165) 87.942%
  );
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  padding: 21px 40px;
  border: none;
}
.btn-secondary {
  border-radius: 48px;
  padding: 21px 40px;
  background: rgb(78, 197, 247);
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  border: none;
  margin-left: 24px;
}
.section-description {
  color: rgb(83, 76, 100);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
}
/* ------shared styles ends here---- */
/* ------header styles starts here---- */
/* nav styles */
nav {
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}
.menu {
  align-items: center;
}
.logo {
  align-items: center;
}
.logo img {
  width: 86px;
  height: 40px;
}
.menu-links {
  text-decoration: none;
}
.menu-item {
  list-style: none;
  margin-right: 32px;
  color: rgb(60, 53, 79);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}
.youtube {
  color: #f61c0d;
  margin-left: 24px;
  margin-right: 18px;
  /* font-size: 25px; */
}
.tiktok {
  color: #000000;
  /* font-size: 25px; */
}
.logo h1 {
  color: #000000;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
}
.logo span {
  background: linear-gradient(90deg, rgb(255, 66, 165), rgb(255, 66, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 7px;
}
.menu-item:nth-child(3) {
  border-radius: 8px;
  padding: 18px 24px;
  background: rgba(11, 2, 35, 0.1);
}
/* banner styles */
.banner {
  margin-top: 50px;
}
.banner-image {
  width: 35%;
  height: 40%;
  margin-right: auto;
}
.banner-image img {
  width: 100%;
}
.banner {
  /* justify-content: space-around; */
  /* gap: 68px; */
}
.banner-content {
  width: 50%;
  background-image: url("../images/Group\ 14.png");
  background-size: cover;
  background-position: left;
  margin-right: auto;
}
.banner-content-container {
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.banner-content-container h2 {
  color: rgb(11, 2, 35);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.banner-content-container h1 {
  background: linear-gradient(180deg, rgb(249, 72, 178), rgb(135, 88, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 95px;
  font-weight: 800;
  line-height: 111px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.banner-content-container p {
  color: rgb(83, 76, 100);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 17px;
}
.play {
  background: linear-gradient(180deg, rgb(249, 72, 178), rgb(135, 88, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-right: 15px;
}
.download {
  border-radius: 48px;

  /* Linear */
  background: linear-gradient(
    90deg,
    rgb(255, 66, 165) 13.134%,
    rgb(255, 66, 165) 87.942%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-right: 15px;
}
.group {
  margin-right: 11px;
}
.btn {
  margin-top: 40px;
}

/* ------header styles ends here---- */
/* ------gamer styles starts here---- */
.gamer-content h1 {
  background: linear-gradient(180deg, rgb(249, 72, 178), rgb(135, 88, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: right;
}
.gamer-content h6 {
  color: rgb(83, 76, 100);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: right;
}
.gamer {
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.gamer-content h4 {
  color: rgb(83, 76, 100);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: right;
}
.gamer-image {
  width: 60%;
}
.gamer-image img {
  width: 100%;
}
.gamer-content {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

/* ------gamer styles ends here---- */
/* ------video styles starts here---- */
.video {
  margin-top: 120px;
  margin-bottom: 120px;
}
.video h1 {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
}
.video .section-description {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 16px;
}
.video span {
  background: linear-gradient(180deg, rgb(249, 72, 178), rgb(135, 88, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.card img {
  width: 100%;
  margin-bottom: 24px;
}
.card:hover {
  filter: brightness(0.5);
}

.card {
  position: relative;
}
.icon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}
.icon i {
  color: white;
  font-size: 30px;
}
.icon p {
  background: linear-gradient(90deg, rgb(255, 66, 165), rgb(255, 66, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* ------video styles ends here---- */
/* ------instant styles starts here---- */
.instant-content h1 {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: right;
  color: #0b0223;
}
.instant-content span {
  background: linear-gradient(90deg, rgb(255, 66, 165), rgb(255, 66, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.instant {
  /* gap: 120px; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.instant-image {
  position: relative;
}
.instant-image img {
  width: 100%;
}
.instant-image .tom {
  width: 50%;
}
.instant-image .tom {
  position: absolute;
  top: 60%;
  left: -20%;
}
/* ------instant styles ends here---- */
/* ------online styles starts here---- */
.online {
  margin-top: 220px;
  align-items: center;
  gap: 150px;
}
.online-image {
  position: relative;
}
.online-image img {
  width: 100%;
}
.online-image .girl {
  width: 50%;
  position: absolute;
  top: 60%;
  right: -20%;
}
.online-content h1 {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  color: #0b0223;
}
.online-content span {
  background: linear-gradient(90deg, #f948b2ff, #8758f1ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.online-content .section-description {
  text-align: left;
}
/* ------online styles ends here---- */
/* ------career styles starts here---- */
.career {
  margin-top: 220px;
  background: linear-gradient(
    90deg,
    rgb(255, 66, 165) 13.134%,
    rgb(255, 66, 165) 87.942%
  );
  align-items: center;
  justify-content: center;
}
.career-image {
  width: 50%;
  margin-left: auto;
  height: 821px;
}
.career-image img {
  width: 100%;
  height: 100%;
}
.career-content h1 {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
}
.career-content .section-description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 32px;
}
.option1 {
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.option2 {
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: right;
}
.career-content {
  margin-left: auto;
  width: 65%;
  padding-left: 190px;
}
.option-container {
  justify-content: space-between;
}
.btn-third {
  border-radius: 48px;
  border: none;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  padding: 21px 40px;
  color: #ff42a5;
  margin-top: 40px;
}

/* ------career styles ends here---- */
/* ------category styles starts here---- */
.category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category p {
  color: rgb(11, 2, 35);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 16px;
}
.category-container {
  width: 80%;
  display: grid;
  grid-template-areas:
    "category1 category1 category2 category2 category3 category3 category4 category4 category5 category5"
    ". category6 category6 category7 category7 category8 category8 category9 category9 .";
  gap: 27px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.category:hover p {
  background: linear-gradient(90deg, rgb(255, 66, 165), rgb(255, 66, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.category img {
  width: 30%;
}
.category:hover {
  border: 2px solid #ff42a5;
  border-radius: 50px;
}
.category1 {
  grid-area: category1;
}
.category2 {
  grid-area: category2;
}
.category3 {
  grid-area: category3;
}
.category4 {
  grid-area: category4;
}
.category5 {
  grid-area: category5;
}
.category6 {
  grid-area: category6;
}
.category7 {
  grid-area: category7;
}
.category8 {
  grid-area: category8;
}
.category9 {
  grid-area: category9;
}

/* ------category styles ends here---- */
/* responsive for smaller devices */
@media screen and (max-width: 576px) {
  nav,
  .menu,
  .instant,
  .online,
  .career {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 62px;
  }
  .menu-item {
    margin-bottom: 36px;
  }
  .menu-item:nth-child(3) {
    margin-top: 23px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    margin-left: auto;
    margin-right: 0px;
    background-position: right;
  }
  .banner-content-container {
    width: 90%;
    padding: 40px 0px;
  }
  .btn-secondary {
    margin-left: 0px;
  }
  .banner-image {
    width: 90%;
    margin-left: auto;
    margin-bottom: 24px;
  }

  .gamer {
    flex-direction: column;
  }
  .gamer-content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .gamer-image {
    width: 100%;
  }
  .gamer-image img {
    width: 100%;
  }
  .gamer-content h1,
  .gamer-content h4,
  .gamer-content h6,
  .gamer-content p {
    text-align: center;
  }
  .video-container {
    grid-template-columns: 1fr;
  }
  .instant-content h1,
  .instant-content p {
    text-align: center;
  }
  .instant-content {
    width: 90%;
  }
  .instant-image {
    width: 80%;
  }
  .instant-image {
    margin-top: 70px;
  }
  .online-content {
    width: 90%;
  }
  .online-image {
    width: 80%;
  }
  .online-content h1,
  .online-content .section-description {
    text-align: center;
  }
  .career-image {
    width: 100%;
    height: 100%;
  }

  .career-content {
    width: 98%;
    padding-left: 0px;
    margin-left: 0px;
  }
  .category-container {
    width: 95%;
    grid-template-areas:
      "category1 category2 category3"
      "category4 category5 category6"
      "category7 category8 category9";
  }
}
